<div class="container">

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-2">

        </div>

        <div class="col-8">

            <mat-card class="background">

                <mat-card-title class="center">Error 404 - Page not Found! :(</mat-card-title>
                <mat-card-subtitle class="center">There's is nothing to show here.</mat-card-subtitle>

                <mat-card-content>

                    <div class="row">

                        <div class="col">
                        </div>

                        <div class="col-8">
                            <img class="image-center" src="/../assets/images/sage-surprised.jpg">
                        </div>

                        <div class="col">
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

        </div>

        <div class="col-2">

        </div>
    </div>
</div>