<div class="home-background">

    <div class="container">

        <br />

        <div *ngFor="let agent of agents.data">

            <div>
                <div *ngIf="agent.role != null" class="row">

                    <div class="col"></div>

                    <div class="col-8 align-self-center">
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>{{agent.displayName}}</mat-card-title>
                                <mat-card-subtitle *ngIf="agent.role != null">{{agent.role.displayName}}
                                </mat-card-subtitle>
                                <img mat-card-md-image src="{{agent.displayIcon}}" alt="agent card icon">
                            </mat-card-title-group>
                            <br />
                            <mat-card-content>
                                {{agent.description}}
                            </mat-card-content>

                            <button class="form-button-action" color="primary" mat-button (click)="viewAgent(agent.uuid)">Learn more</button>
                            
                        </mat-card>
                    </div>

                    <div class="col"></div>
                </div>

                <br *ngIf="agent.role != null" />
            </div>
        </div>

    </div>

</div>