<br />

<div class="container center">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <mat-card class="example-card">

                <br />
                <br />

                <div class="row">
                    <div class="col">

                    </div>

                    <div class="col ">

                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="user@email.com" type="text">
                        </mat-form-field>

                        <br />

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="********">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Confirm password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="********">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>                        

                    </div>

                    <div class="col">

                    </div>
                </div>

                <br />
                <br />

                <div class="row">

                    <div class="col">

                    </div>

                    <div class="col-10">
                        <mat-card-actions>                            
                            <button class="form-button-action" color="primary" mat-button>Register</button>
                        </mat-card-actions>
                    </div>

                    <div class="col">

                    </div>
                </div>

            </mat-card>
        </div>
        <div class="col">

        </div>
    </div>
</div>